In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/reviews.csv")

In [4]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3109,207127433,2017-10-28,51636494,Patricia,Tout s'est bien déroulé. Merci bien. PG
1,3109,208779822,2017-11-03,4142888,Patricia,Un petit nid fouiller douillet situé dans app...
2,3109,295840159,2018-07-24,7415343,Laurent,"Appartement spacieux, propre,clair, et calme à..."
3,3109,553502638,2019-10-24,21159216,Anastasia,"Appartement totalement rénové, en parfait état..."
4,5396,4824,2009-06-30,19995,Sarah,Perfect location!! Nasrine was a delight and m...
...,...,...,...,...,...,...
1721447,1039842567530124081,1042702285953157587,2023-12-09,373781559,Efraim,"Petit studio, très beau et très comfortable. C..."
1721448,1039842567530124081,1043366104781947066,2023-12-10,57803453,Roman,J'ai récemment séjourné dans ce charmant studi...
1721449,1040384973527856645,1041180077560231031,2023-12-07,10445285,Matthew,Simon was a great host with excellent communic...
1721450,1040440746407092425,1043378462506110040,2023-12-10,173176451,Christine,Het verblijf bij Joffrey was geweldig! Een fij...
1721451,1040557336371326305,1044824854515520433,2023-12-12,84327648,Kenza,"Un hôte au top, un appartement identique aux b..."

In [29]:
df["comments"].isna().sum()

97

In [30]:
df["date"].min()

'2009-06-30'

In [31]:
print(df["listing_id"].unique(), df["listing_id"].nunique())

[               3109                5396                7964 ...
 1040384973527856645 1040440746407092425 1040557336371326305] 56438

In [40]:
df["listing_id"].value_counts().median()

11.0

In [32]:
df1 = pd.read_csv("data/listings.csv")

In [33]:
df1.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [34]:
df1["listing_url"]

0                       https://www.airbnb.com/rooms/3109
1                       https://www.airbnb.com/rooms/5396
2                      https://www.airbnb.com/rooms/81106
3                       https://www.airbnb.com/rooms/7397
4                       https://www.airbnb.com/rooms/7964
                               ...
74324    https://www.airbnb.com/rooms/1043932119757241230
74325    https://www.airbnb.com/rooms/1043947326757240041
74326    https://www.airbnb.com/rooms/1043968453109441641
74327    https://www.airbnb.com/rooms/1044178383796738008
74328    https://www.airbnb.com/rooms/1044192462569643662
Name: listing_url, Length: 74329, dtype: object

In [35]:
df1["price"]

0        $150.00
1        $146.00
2        $110.00
3        $140.00
4        $180.00
          ...
74324    $324.00
74325     $85.00
74326    $190.00
74327    $114.00
74328    $837.00
Name: price, Length: 74329, dtype: object

In [ ]:
df[""]